<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
<style>
body {
    border:;
    margin: 0;
    background: #fff;
    ‑webkit‑text‑size‑adjust: 100%;
    font-family: 'Roboto', Arial, sans-serif;
}
table {
    border-spacing: 0;
    margin: 0;
    padding: 0;
}
a {
    color: #76DFCB;
    font-size: 14px;
    text-decoration: none;
}
img {
    border: 0;
}
</style>

<table border="0" cellpadding="0" cellspacing="0" width="100%" height="100%" style="font-family: 'Roboto', Arial, sans-serif;">
    <tbody>
        <tr width="100%" height="60px" style="width: 100%; height: 60px;">
            <td align="center" valign="top">
                <table border="0" cellpadding="0" cellspacing="0" width="320" style="width: 320px;">
                    <tr>
                        <td height="15px" style="height: 15px;"></td>
                    </tr>
                    <tr>
                        <td align="left" valign="top">
                            <a target="_blank" href="http://fe-dev.nudgg.co.uk/">
                                <img src="http://bookingspaces.co.uk/temp_nudgg/logo.png" alt="nudgg" border="0" />
                            </a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr width="100%" height="2px" style="width: 100%; height: 2px;">
            <td style="border-bottom: 1px solid #E6E6E6"></td>
        </tr>
        <tr>
            <td align="center" valign="top">
                <table border="0" cellpadding="0" cellspacing="0" width="320" style="width: 320px; text-align: left;">
                    <tbody>
                        <tr>
                            <td height="60px" style="height: 60px;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="color: #303960; font-size: 25px; font-weight: 700;">
                                Welcome {{name}},
                            </td>
                        </tr>
                        <tr>
                            <td height="20px" style="height: 20px;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="color: #303960; font-size: 16px; font-weight: 300;">
                                Thank you for registering for an account with nudgg.
                            </td>
                        </tr>
                         <tr>
                            <td height="20px" style="height: 20px;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="font-size: 14px; color: #303960; font-weight: 300;">
                                You’ve taken the first step towards achieving your goals and saving towards something special. To let us help you on your way, click the link below to activate your account and get you started:
                            </td>
                        </tr>
                        <tr>
                            <td height="40px" style="height: 40px;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td>
                                <a href="http://fe-dev.nudgg.co.uk/sign-up/success/{{token}}" style="color: #76DFCB; font-style: italic; font-size: 14px; text-decoration: none;">
                                    Activate your account
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td height="100px" style="height: 100px;">&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td align="center" valign="top" style="height: 250px; background-color: #262830;">
                <table border="0" cellpadding="0" cellspacing="0" width="320" style="width: 320px;">
                    <tbody>
                        <tr>
                            <td height="100px" style="height: 120px;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td align="middle">
                                <table border="0" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <a target="_blank" href="https://www.facebook.com/Nudgg-1830117283913041/">
                                                    <img src="http://bookingspaces.co.uk/temp_nudgg/facebook.png" alt="Facebook" border="0" />
                                                </a>
                                            </td>
                                            <td width="15px">&nbsp;</td>
                                            <td>
                                                <a target="_blank" href="https://twitter.com/nudgg_uk">
                                                    <img src="http://bookingspaces.co.uk/temp_nudgg/twitter.png" alt="Twitter" border="0" />
                                                </a>
                                            </td>
                                            <td width="15px">&nbsp;</td>
                                            <td>
                                                <a target="_blank" href="https://www.instagram.com/nudgg/">
                                                    <img src="http://bookingspaces.co.uk/temp_nudgg/instagram.png" alt="Instagram" border="0" />
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>